<a href="https://colab.research.google.com/github/DaYalin4/Python/blob/main/Ternas_Pitag%C3%B3ricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Â¿Cuales son las ternas pitagoricas menores que 1000?

In [25]:
from math import*

def terna(n):
    x=[i**2 for i in range(1,n+1)]
    y=[i**2 for i in range(1,n+1)]
    z=[i**2 for i in range(1,n+1)]

    ternasPitagoricas=[]
    for i in x:
        for j in y:
            for k in z:
                if i+j==k:
                    ternasPitagoricas.append((sqrt(i),sqrt(j),sqrt(k)))
    return ternasPitagoricas
terna(100)

[(3.0, 4.0, 5.0), (4.0, 3.0, 5.0), (6.0, 8.0, 10.0), (8.0, 6.0, 10.0)]